FRONTEND_HOST_PORT=3000
NGINX_HOST_PORT=9090

COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_XXXXXXXXX
COGNITO_DOMAIN=https://REPLACE_ME.auth.us-east-1.amazoncognito.com
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:9090
DEMO_PROFESSOR_SUB=00000000-0000-0000-0000-000000000001
DEMO_STUDENT_SUB=00000000-0000-0000-0000-000000000002

USERS_DB_NAME=users_db
USERS_DB_USER=users_app
USERS_DB_PASSWORD=change_me_users

ACADEMIC_DB_NAME=academic_reminder_db
ACADEMIC_DB_USER=academic_app
ACADEMIC_DB_PASSWORD=change_me_academic

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me_pgadmin

USERS_SERVICE_TIMEOUT_MS=3000
